lingbao-client/src/main/resources/META-INF/lingbao-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.sundy.com/schema/lingbao"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.sundy.com/schema/lingbao"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation><![CDATA[ AppId support for Configuration Center. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="config" >
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[configuration section to integrate with Spring.]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="appId" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                            the appId is use for get config from configuration
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="registerServerHost" type="xsd:anyURI" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                             for register server host to get all available config server
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="enableRestart" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                             for register server host to get all available config server
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="enableRefresh" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                             for register server host to get all available config server
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>